<h2>Form for editing a passenger</h2>


<%= render partial: "form", locals: {
    form_class: "edit-passenger", 
    intro_text: "Use this form to edit a new passenger",
    action_name: "Edit Passenger"
    } %>

<%= link_to "Back to list of all passengers", passengers_path %>