<h2>Form for creating a new passenger</h2>


<%= render partial: "form", locals: {
    form_class: "new-passenger", 
    intro_text: "Use this form to create a new passenger",
    action_name: "Create Passenger"
    } %>