<h2>Form for editing a driver</h2>


<%= render partial: "form", locals: {
    form_class: "edit-driver", 
    intro_text: "Use this form to edit a new driver",
    action_name: "Edit Driver"
    } %>