<h2 class="user-heading"> All Drivers</h2>

<%= will_paginate @drivers %>

<ul>
<% @drivers.each do |driver|%>
  <li>
  <%= link_to driver.name, driver_path(driver.id)%>
  </li>
<% end %>
</ul>

<%= link_to "Add new driver", new_driver_path %>
