<h2>Form for creating a new driver</h2>


<%= render partial: "form", locals: {
    form_class: "new-driver", 
    intro_text: "Use this form to create a new driver",
    action_name: "Create Driver"
    } %>