/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  margin: 0px 0px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
 }

.logo{
  color: white;
  line-height: 40px;
  font-size: 2rem;
  display:inline;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-right: 15%;
  padding-left: 4px;
}

.logo a {
  text-decoration: none; 
  color: white;
}

.logo a:hover {
  text-decoration: underline;
}

.head-container{
  background-color:  rgb(117, 53, 155);
}

footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.nav-container{
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
  display: inline-flex;

}

.nav-container ul li{
  display: inline;
  list-style-type: none;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-container ul li a{
  color: bisque;
  text-decoration: none;
  
}
  
.nav-container ul li a:hover {
  color: rgb(252, 191, 117);
  text-decoration: none;
}
    

.user-heading{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* TABLES */

.show-table, tr {
  border: 2px solid rgb(117, 53, 155);
}

.show-table tr:nth-child(even) {
  background-color: rgba(118, 53, 155, 0.151);
  color: black;
}

.show-table td {
  padding: 10px;
}

.show-table th {
  padding: 10px;
}

.show-table {
  margin: 20px;
}

.show-table a, .lower-links a, .request-rate a, .show-all-list li a {
  text-decoration: none;
  color: black;
}

.show-table a:hover, .lower-links a:hover, .request-rate a:hover, .show-all-list li a:hover {
  text-decoration: underline;
  color: rgb(117, 53, 155);
}

/* SHOW PAGES */

.lower-links a {
  padding: 20px;
  border: 1px solid rgb(117, 53, 155);

}

.lower-links {
  padding: 20px;
}

.profile-pics, .charges, .stats, .name, .request-rate {
  padding-left: 20px;
}

/* INDEX PAGES */
.show-all-list li {
  padding: 5px;
}

/* HOMEPAGE */
.homepage {
  padding-left: 20px;
  padding-bottom: 300px;
}

/* FORMS */

.form {
  border: 2px solid rgb(117, 53, 155);
  padding: 20px;
  margin-left: 20px;
  width: 600px;
  margin-bottom: 300px;
}

.form-heading {
  padding-left: 20px;
}
